html, body {
  margin: 0;
  height: 100%;
  background: url("https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center fixed;
  background-size: cover;
  color: #313131;
  font-family: 'Lato', sans-serif;
}

#page-wrap {
  text-align: center;
  padding: 50px;
  margin-left: 10%;;
  margin-right: 10%;
}